<nav class="sidebar">
    <ul>
        <li class="header-sidebar">
            <span class="title-sidebar">CRUD</span>
        </li>
        <a href="https://github.com/Rezende-Fabio/employee-management-api" target="_blank">
            <li class="item-sidebar"><mat-icon>api</mat-icon>API C#</li>
        </a>
        <a href="https://angular.dev/" target="_blank">
            <li class="item-sidebar"><mat-icon>description</mat-icon>Angular</li>
        </a>
        <li routerLink="/index" class="logout item-sidebar"><mat-icon>logout</mat-icon>Voltar</li>
    </ul>
</nav>